language: ruby
cache: bundler
script:
  - bundle exec rake prepare
  - bundle exec rake build
deploy:
  provider: pages
  local-dir: ./_site
  target-branch: gh-pages
  email: deploy@travis-ci.org
  name: Deployment Bot
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  keep-history: true
  on:
    branch: master