@import "minima";

html {
  --backg: #fff;
  --main-color: #232323;
  --text-decription: #666;
}

html[data-theme="darkTheme"] {
  --backg: #100f2c;
  --main-color: #fff;
  --text-decription: #fff;
}

body {
  background: var(--backg);
  color: var(--main-color);
  transition: background-color 0.5s ease;
}

.row {
  display: flex;
  margin: 0 2rem;
  justify-content: center;
}

.column {
  padding: 30px;
}

@media (max-width: 760px) {
  .row {
    flex-direction: column;
    margin: 0;
  }
}

.site-description {
  display: block;
  width: 256px;
  margin: 0 auto;
  color: var(--text-decription);

  h1 {
    margin-top: 10px;
  }
}

.communities-list,
.events {
  dt {
    text-transform: uppercase;
    font-weight: 600;
    font-size: small;
    color: var(--text-decription);
    border-bottom: 1px solid #dedede;
    margin-bottom: 10px;
  }

  dd {
    margin-bottom: 20px;
  }

  ul {
    list-style-type: none;
    margin-left: 0;
  }

  li {
    display: flex;
    justify-content: space-between;
    padding: 3px 0;
    border-bottom: 1px solid #efefef;
  }

  li:last-of-type {
    border-bottom: 0;
  }
}

.events {
  @media (max-width: 760px) {
    li {
      display: block !important;
    }
  }
  li {
    margin: 0.25rem auto 0.25rem auto;
    display: flex;
    flex-direction: column;
  }
}

.contribute-button {
  a {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

    svg {
      margin-right: 10px;
    }
  }
}

.members-counter {
  margin-left: 10px;
}

.members-counter span {
  font-size: 10px;
  color: #fff;
  background-color: #3e3e3e;
  padding: 5px 8px 5px 8px;
  border-radius: 5px;
  margin-left: 10px;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contributors {
  margin-top: 30px;
  display: flex;
  flex-flow: row wrap;

  .contributor {
    width: 39px;
    padding: 1px;
  }
}
@media (min-width: 760px) {
  .w-25 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .w-75 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .row {
    max-height: 100vh;
  }

  .contributors {
    max-height: 15vh;
  }

  .scrollbar {
    overflow: auto;
  }

  .scrollbar::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  .scrollbar::-webkit-scrollbar:vertical {
    width: 6px;
  }

  .scrollbar::-webkit-scrollbar-button:increment,
  .scrollbar::-webkit-scrollbar-button {
    display: none;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 20px;
  }

  .scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: #797979;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 10px;
  }
}

.w-100 {
  width: 100%;
}

.title-tooltip {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  font-size: 1em;
}

.description {
  font-size: 0.8em;
}

.date-row {
  display: flex;
}

.date-marker {
  padding: 10px;
  text-align: center;
  border: 2px solid #c4c4c4;
  margin-right: 10px;
  width: 40px;
  margin-top: 10px;
  border-radius: 10px;

  h1 {
    margin-bottom: -5px;
  }
  small {
    text-transform: uppercase;
  }
}

.event-list {
  a {
    margin-bottom: 5px;
  }
  small {
    color: var(--text-decription);
    margin-bottom: 1px;
    font-size: 0.8em;
  }
}

.darkmode-toggle {
  position: fixed;
  bottom: 32px;
  right: 32px;
  background: #100f2c;
  cursor: pointer;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s ease;
  &.dark {
    background: #fff;
  }
}

html[data-theme="darkTheme"] {
  a {
    color: #00c4b4;
  }
  a:hover {
    color: #05a198;
  }
  a:visited {
    color: #05a198;
  }
  #Background {
    stroke: transparent;
  }
  .members-counter img {
    filter: hue-rotate(45deg);
  }
  .contribute-button path {
    fill: #fff;
  }
  .jBox-content {
    color: #000;
  }
}
