@import "minima";

.row {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.column {
    padding: 50px;
}

@media (max-width:760px) {
    .row {
      flex-direction: column;
    }
}

.site-description {
    display: block;
    width: 256px;
    margin: 0 auto;
    color: #666;

    h1 {
        margin-top: 50px;
    }
}

.communities-list {

    dt {
        text-transform: uppercase;
        font-weight: 600;
        font-size: small;
        color: #888;
        border-bottom: 1px solid #dedede;
        margin-bottom: 10px;
    }

    dd {
        margin-bottom: 20px;
    }
    
    ul {
        list-style-type: none;
        margin-left: 0;
    }

    li {
        display: flex;
        justify-content: space-between;
        padding: 3px 0;
        border-bottom: 1px solid #efefef;
    }

    li:last-of-type {
        border-bottom: 0;
    }


}

.contribute-button {
    padding-top: 30px;

    a { 
        display: flex;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;

        svg {
            margin-right: 10px;
        }
    }


}

.members-counter {
    font-size: 10px;
    color: #fff;
    background-color: #3e3e3e;
    padding: 5px 8px 5px 8px;
    border-radius: 5px;
    margin-left: 10px;
    
}