---
layout: default
---

<div class="row">
    <div class="column">
        <div class="site-description">
            {{ content }}
            {% contributors %}
        </div>
    </div>
    <div class="column communities-list">
        {% assign cities = site.data.communities | group_by:"city" %}
        {% assign index = 0 %}
        {% for city in cities | sort: "name" %}

        <dt>{{ city.name }}</dt>
        <dd>
            <ul>
            {% for community in city.items | sort: "name" %}
                <li>
                    {% include components/community_link.html name=community.name url=community.url %}

                    {% include components/community_tooltip.html name=community.name url=community.url label_index= index %}

                    {% include components/community_member_count.html url=community.url %}

                </li>
                {% assign index = index | plus:1 %}
            {% endfor %}
            </ul>
        </dd>
        {% endfor %}
    </div>
    {% if site.events.enabled %}
        {% include components/next_events.html %}
    {% endif %}
</div>

{% include javascript/main_script.html %}