---
layout: default
---

<div class="row">
    <div class="column">
        <div class="site-description">
            {{ content }}
            {% contributors %}
        </div>
    </div>

    <div class="column communities-list scrollbar">
        {% include components/communities.html
            communities=site.data.info %}
    </div>
    <div class="column events w-25 scrollbar">
        {% include components/events.html
            events=site.data.events %}
    </div>
</div>

<div class="darkmode-toggle">🌓</div>