---
layout: default
---

<div class="row">
    <div class="column">
        <div class="site-description">
            {{ content }}
        </div>
    </div>
    <div class="column communities-list"> 
        {% assign cities = site.data.communities | group_by:"city" %}
        {% for city in cities | sort: "name" %}

        <dt>{{ city.name }}</dt>
        <dd>
            <ul>
            {% for community in city.items | sort: "name" %}
                <li>
                    <a href="{{ community.url }}" target="_blank">
                        {{ community.name }}
                    </a>

                    <div class="members-counter">
                        {% meetup_members_counter(community.url) %}
                    </div>
                </li>
            {% endfor %}
            </ul>
        </dd>
        {% endfor %}
    </div>

</div>